@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light-hsl: 200deg 100% 91%;
    --primary-hsl: 200deg 100% 50%;
    --primary-dark-hsl: 200deg 100% 6%;
  }

  body {
    @apply font-sans;
  }
}
